input.item-field, textarea {
  font-size: 16px;
}

.submit {
  width: 50%;
  font-size: 16px;
  background-color: $secondary;
  margin: 10px;
}

.detail-input {
  margin: 5px;
}

.is-required {
  margin: 5px;
}

#todo-list {
  text-align: left;
}