div {
    padding: 5px;
  }

  input.item-field, textarea {
    font-size: 16px;
    background: #BDE4A8;
  }

  .add-item-button {
    width: 50%;
    font-size: 16px;
    background-color: #BDE4A8;
  }